{% extends 'index.html' %}
{% block title %}Modifier le Produit : {{ produits.id }}{% endblock %}
{% block content %}
{% if user.is_authenticated %}
  <div class="container mt-5">
  <div class="text-right">
    <a href="{% url 'Produits' %}" class="btn btn-secondary">Retour a la liste des produits</a>
  </div>
    <h2>Modifier le Produit : {{ produits.id }}</h2>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-success">Modifier le Produit {{ produits.id }}</button>
    </form>
  </div>
{% endif %}
{% endblock %}